html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

*,*:after,*:before
{box-sizing: inherit}

main {
	display: flex;
	align-items: stretch;
}

.header {
	width:100%;
	height:100px;
	background-color: #bfbfbf;	
	margin-bottom: -16px;
}
	
.headerIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding-top: 40px;
	padding-left: 15px;
    font-family: 'Overlock', cursive;    
}
.headerIcons:nth-child(2){
	font-size: 30px;
}

.icons {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding-right: 20px;
	font-family: 'Overlock', cursive;	
}

.icons > li {
	padding-left: 20px;
}

.icons > li:firstchild {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

.sidebar {
	width: 200px;
	align-items: stretch;
	background-color: #bfbfbf;	
}

.sidebarlist {
	list-style: none;
}

.sidebarlist li {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: -15px;
	border-bottom:1px solid #fff;
	width: 85%;
	word-wrap: wrap;
	font-family: 'Overlock', cursive;
}

/*.recipeView {
	list-style: none;
*/

.root {
    display: flex;
    flexWrap: wrap;
    justifyContent: space-around
 }

.gridList {
    display: flex;
    flexWrap: nowrap;
    overflowX: auto;
 }
.gridView {
 	margin-left: 30px;
 	margin-top: 20px;
    font-family: 'Overlock', cursive;
 }

 .navToAddRecipe {
 	margin-top: 10px;
 }

.formfields {
	display: flex;
	flex-wrap: wrap;

}
.image {
	width: 300px;
	height: 300px;
}
.names {
	margin-left: 40px;
}

.addFields {
	border:1px solid #aaa;
	height: 48px;
	width: 300px;
	display: flex;
	flex-wrap: wrap;	
	margin-bottom: 15px;
}

.checkbox {
	margin-right: 5px;
}

.howToCook {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.textArea {
	width: 500px;
	height:100px;
	margin-top: 10px;
}

.AddRecipeDiv {
	margin-top: 50px;
	width:800px;
	height: 1200px;
	margin-left: 20px;
}

h3 {
	font-family: 'Overlock', cursive;
}
.scope {
	font-family: 'Overlock', cursive, !important;
}

.recipeProfileHeaderTitle {
	font-size: 25px !important;

}

.recipeProfileHeader {
	margin: 16px 96px !important;
}

.recipeProfileContainer {
	width: 75%;
}

.table {
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	width: 200px;
	padding: 20px;
	font-size: 30px;
	color: #a6a6a6;
}

.headerRow {
	display: flex;
	margin-left: 20%;
}

.table:nth-child(4) {
	border-right: 1px solid #e6e6e6;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.table:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.recipeCardTable {
	margin-top: 31px;
	margin-left: 20%;
	border: 1px solid black;
	width: 800px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	border-collapse: collapse;

}

.topRow {
	font-size: 12px;
}

td {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-collapse: collapse;
	background: #FAFAFA;
	font-size: 30px;
	color: #8B8B8B;
}

.ingridentTable1Col {
	padding-left: 56px;
	width: 37%;
}

.ingridentTable2Col {
	width: 100%;
}


.col1span {
	right: 10px;
	bottom: 20px;
	width: 100px;
	display: flex;
}

.col2span {
	padding-left: 5px;
	width: 1000px;
}

.space {
	margin-left: 5px;
}

.tableRow{
	background: #e6e6e6;
}

.recipeDirections, .personalNotes {
	margin-top: 50px;
	margin-left: 17%;
}

.recipeDiretionsHeader, .personalNotesHeader {
	font-size: 30px;
	color: #8B8B8B;
	margin-left: 4%;
	margin-top: 25px;
	position: relative;
	z-index: 0;
	width: 83%;
}

.recipeDiretionsHeader:after, .personalNotesHeader:after {
	content:"";
    position:absolute;
    top:47%;
    left:0;
    right:0;
    border-top:solid 1px #bfbfbf;
    z-index:-1;
    margin-right: 7%
}

.stepHeader, .noteHeader {
    background:#fff;
    display:inline-block;
    padding-right: 40px;
}

.recipeInsturctions {
	margin-left: 4%;
	margin-top: 2%;
	margin-right: 7%;
	line-height: 1.9;
	color: #8B8B8B;
	width: 35%;

}

.recipeIngredientTable {
	border-collapse: collapse;
	width: 36%;
	display: inline-block;
	right: 0;
}

.recipeIngredientCell1 {
	font-size: 20px;
	text-align: right;
	padding-right: 25px;
	background: #ffffff;
	min-width: 200px;
}

.recipeIngredientCell2 {
	width: 50%;
	font-size: 19px;
	background: #ffffff;
	border-right: none;
}

.recipeIngredientTable, .recipeIngredientTable > tr, .recipeIngredientTable > td {
} 

.recipeDiretionsHeader {
	display: inline-block;
}

.recipeIngredientRow:last-child > .recipeIngredientCell1, .recipeIngredientRow:last-child > .recipeIngredientCell2 {
	border-bottom: none;
}

.recipeDirectionsContent {
	display: flex;
}

.fullStep {
	position: relative;
}

.personalNotesContent {
	margin-left: 4%;
	margin-top: 2%;
	line-height: 1.9;
	color: #8B8B8B;
	width: 77%;
}

.submitButtonContainer {
	position: relative;
}

.editButton {
	position: absolute;
	right: 30%;
    margin-top: 5%;
    padding-top: 10px;
    padding-left: 13px;
    color: #8B8B8B;
    font-size: 20px;
    height: 53px;
    width: 165px;
    background: #FFFFFF;
    border-radius: 2%;
}

.editButton:hover {
	background: #CCCCCC;
	color: #FFFFFF;
	transition: color 1s;
	transition: background 2s;
}
.navHome {
	margin-left: 330px;
    padding-top: 50px;

}

.recipeType {
	border:1px solid #aaa;
	height: 30px;
	width: 200px;
}

.marginAuto {
	margin: auto;
}
